#!/usr/bin/env bash

export VISUALCROSSING_APIKEY=
export WEATHER_LATITUDE=34.7144192
export WEATHER_LONGITUDE=137.7140736
export WEATHER_FORMAT=CELSIUS

export CALDAV_CALENDAR_URLS=""
export CALDAV_USERNAME=
export CALDAV_PASSWORD=

export WAVESHARE_EPD75_VERSION=2
export SCREEN_LAYOUT=6

export WEATHER_TTL=3600

export LANG=ja_JP.UTF-8
export LOG_LEVEL=INFO

export PRIVACY_MODE_XKCD=0
export PRIVACY_MODE_LITERATURE_CLOCK=0
